Repository pedrohsduarte/personal-website-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: turbo run lint --, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(test): remove test script from packages
  packages/eslint-config/package.json
  packages/typescript-config/package.json
Due: prettier --check --write

feat(site): add unstyled pages and mdx
  .vscode/extensions.json
  apps/site/articles/first-article.mdx
  apps/site/next.config.mjs
  apps/site/package.json
  apps/site/src/app/(pages)/about/page.tsx
  apps/site/src/app/(pages)/articles/[slug]/page.tsx
  apps/site/src/app/(pages)/articles/page.tsx
  apps/site/src/app/(pages)/projects/page.tsx
  apps/site/src/app/(pages)/resume/page.tsx
  apps/site/src/app/(pages)/subscribe/page.tsx
  apps/site/src/app/components/Counter.tsx
  apps/site/src/app/components/Footer.tsx
  apps/site/src/app/components/Navbar.tsx
  apps/site/src/app/layout.tsx
  apps/site/src/app/page.tsx
  packages/typescript-config/nextjs.json
  yarn.lock
Due: turbo run lint --, prettier --check --write

feat(site): add draft experience timeline component
  .husky/commit-msg
  apps/site/package.json
  apps/site/public/images/logos/algar-telecom.png
  apps/site/public/images/logos/entrustody.png
  apps/site/public/images/logos/exacode.png
  apps/site/public/images/logos/hub-fintech.png
  apps/site/public/images/logos/kyros-tecnologia.png
  apps/site/public/images/logos/yandeh.png
  apps/site/public/images/profile-image.jpg
  apps/site/public/next.svg
  apps/site/public/vercel.svg
  apps/site/src/app/components/ExperienceTimeline.tsx
  apps/site/src/app/components/Nav.tsx
  apps/site/src/app/components/Navbar.tsx
  apps/site/src/app/components/ThemeToggle.tsx
  apps/site/src/app/contexts/ThemeContext.tsx
  apps/site/src/app/globals.css
  apps/site/src/app/layout.tsx
  apps/site/src/app/page.tsx
  apps/site/tailwind.config.ts
  yarn.lock
Due: turbo run lint --, prettier --check --write, stylelint --allow-empty-input, prettier --write

refactor(navbar): decouple app and ui code
  apps/site/src/app/(pages)/articles/[slug]/page.tsx
  apps/site/src/app/(pages)/articles/page.tsx
  apps/site/src/app/components/Nav.tsx
  apps/site/src/app/layout.tsx
  apps/site/src/app/page.tsx
  apps/site/src/components/AboutMe.tsx
  apps/site/src/components/Common/ThemeToggle.tsx
  apps/site/src/components/Counter.tsx
  apps/site/src/components/ExperienceTimeline.tsx
  apps/site/src/components/Footer.tsx
  apps/site/src/components/NavBar/index.tsx
  apps/site/src/components/withNavBar.tsx
  apps/site/src/contexts/ContentContext.tsx
  apps/site/src/contexts/ThemeContext.tsx
  apps/site/tailwind.config.ts
  apps/site/tsconfig.json
  packages/tsconfig/nextjs.json
  packages/ui/src/Header.tsx
  packages/ui/turbo/generators/config.ts
Due: turbo run lint --, prettier --check --write

feat(homepage): create initial content
  apps/site/next.config.mjs
  apps/site/package.json
  apps/site/public/images/profile-image.jpg
  apps/site/public/images/profile.jpg
  apps/site/src/app/(pages)/articles/[slug]/page.tsx
  apps/site/src/app/(pages)/projects/page.tsx
  apps/site/src/app/(pages)/resume/page.tsx
  apps/site/src/app/globals.css
  apps/site/src/app/layout.tsx
  apps/site/src/app/page.tsx
  apps/site/src/assets/icons/github.svg
  apps/site/src/assets/icons/linkedin.svg
  apps/site/src/assets/icons/x.svg
  apps/site/src/components/AboutMe.tsx
  apps/site/src/components/Common/ThemeToggle.tsx
  apps/site/src/components/ExperienceTimeline.tsx
  apps/site/src/components/Footer.tsx
  apps/site/src/components/Icon.tsx
  apps/site/src/components/NavBar/index.tsx
  apps/site/src/components/withAboutMe.tsx
  apps/site/src/components/withExperienceTimeline.tsx
  apps/site/src/components/withNavBar.tsx
  apps/site/src/contexts/ContentContext.tsx
  apps/site/src/contexts/ThemeContext.tsx
  apps/site/src/custom.d.ts
  apps/site/tailwind.config.ts
  apps/site/tsconfig.json
  yarn.lock
Due: turbo run lint --, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(blog): make page number a query param
  apps/site/articles/article-1.mdx
  apps/site/articles/article-2.mdx
  apps/site/articles/article-3.mdx
  apps/site/articles/article-4.mdx
  apps/site/articles/article-5.mdx
  apps/site/articles/article-6.mdx
  apps/site/public/images/profile-sm.jpg
  apps/site/src/app/(pages)/about/page.tsx
  apps/site/src/app/(pages)/articles/page.tsx
  apps/site/src/app/(pages)/subscribe/page.tsx
  apps/site/src/app/layout.tsx
  apps/site/src/components/AboutMe.tsx
  apps/site/src/components/Common/Divider/index.tsx
  apps/site/src/components/Footer/index.tsx
  apps/site/src/components/NavBar/index.tsx
  apps/site/src/components/withNavBar.tsx
  apps/site/src/contexts/ContentContext.tsx
Due: turbo run lint --, prettier --check --write

feat(site): create base layout container
  apps/site/src/app/globals.css
  apps/site/src/app/layout.tsx
  apps/site/src/components/Container/index.tsx
  apps/site/src/components/Footer/index.tsx
  apps/site/src/components/NavBar/index.tsx
  apps/site/src/components/ThemeTransition/index.tsx
Due: turbo run lint --, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(site): add mobilde navigation to navbar
  apps/site/src/app/layout.tsx
  apps/site/src/components/AboutMe.tsx
  apps/site/src/components/Common/Divider/index.tsx
  apps/site/src/components/Common/ThemeToggle.tsx
  apps/site/src/components/NavBar/index.tsx
  apps/site/src/components/ThemeTransition/index.tsx
  apps/site/src/contexts/ContentContext.tsx
Due: turbo run lint --, prettier --check --write

fix(site): adapt layout to md and sm
  apps/site/src/app/globals.css
  apps/site/src/app/layout.tsx
  apps/site/src/components/AboutMe.tsx
  apps/site/src/components/Container/index.tsx
  apps/site/src/components/Footer/index.tsx
  apps/site/src/components/NavBar/index.tsx
  apps/site/src/components/withAboutMe.tsx
  apps/site/src/contexts/ContentContext.tsx
  apps/site/src/types/style.ts
  apps/site/src/utils/styles.ts
Due: turbo run lint --, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(site): display modal navigation centered for mdx articles
  apps/site/src/app/(pages)/articles/[slug]/page.tsx
  apps/site/src/app/globals.css
  apps/site/src/components/NavBar/index.tsx
Due: turbo run lint --, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(repo): add docker support for local development
  .dockerignore
  Dockerfile.site
  README.md
  docker-compose.yml
  package.json
  turbo.json
Due: turbo run lint --, prettier --check --write

feat(site): add footer
  apps/site/src/app/layout.tsx
  apps/site/src/components/Common/Divider/index.tsx
  apps/site/src/components/Footer/index.tsx
  apps/site/src/components/NavBar/index.tsx
  apps/site/src/components/withAboutMe.tsx
  apps/site/src/components/withFooter.tsx
  apps/site/src/components/withNavBar.tsx
  apps/site/src/contexts/ContentContext.tsx
Due: turbo run lint --, prettier --check --write

feat(site): add debug for site
  .vscode/launch.json
Due: prettier --check --write

fix(site): make tailwindcss a prod dependency
  apps/site/package.json
Due: prettier --check --write

fix(build): add path alias to next config
  apps/site/next.config.mjs
Due: turbo run lint --, prettier --check --write

fix(build): make svgr a prod dependency
  apps/site/package.json
Due: prettier --check --write

chore(deploy): add amplify config
  amplify.yml
Due: prettier --check --write

chore(ci): try navigating to root dir to run yarn install
  amplify.yml
Due: prettier --check --write

chore(ci): try navigating to site folder after build
  amplify.yml
Due: prettier --check --write

chore(ci): install required node version via amplify script
  amplify.yml
Due: prettier --check --write

feat(site): add education section
  apps/site/public/images/logos/ufu-logo.png
  apps/site/src/app/(pages)/articles/page.tsx
  apps/site/src/app/(pages)/resume/page.tsx
  apps/site/src/components/ExperienceTimeline.tsx
  apps/site/src/components/withEducationTimeline.tsx
  apps/site/src/components/withProfessionalExperienceTimeline.tsx
  apps/site/src/contexts/ContentContext.tsx
Due: turbo run lint --, prettier --check --write

fix(site): add social links in another tab
  apps/site/src/components/AboutMe.tsx
  apps/site/src/components/Footer/index.tsx
Due: turbo run lint --, prettier --check --write

feat(site): add tech skills and cv
  apps/site/public/pdfs/cv.pdf
  apps/site/src/app/(pages)/resume/page.tsx
  apps/site/src/assets/icons/aws.svg
  apps/site/src/assets/icons/azure.svg
  apps/site/src/assets/icons/docker.svg
  apps/site/src/assets/icons/flutter.svg
  apps/site/src/assets/icons/java.svg
  apps/site/src/assets/icons/postgres.svg
  apps/site/src/assets/icons/python.svg
  apps/site/src/assets/icons/react.svg
  apps/site/src/assets/icons/terraform.svg
  apps/site/src/assets/icons/typescript.svg
  apps/site/src/components/Common/ProgressBar/index.tsx
  apps/site/src/components/Icon.tsx
  apps/site/src/components/TechnicalSkills/index.tsx
  apps/site/src/components/withDownloadCVButton.tsx
  apps/site/src/components/withTechnicalSkills.tsx
  apps/site/src/contexts/ContentContext.tsx
  apps/site/src/utils/download.ts
Due: turbo run lint --, prettier --check --write

feat(site): add favicon, dynamic title, and system theme
  apps/site/src/app/(pages)/articles/[slug]/page.tsx
  apps/site/src/app/(pages)/articles/page.tsx
  apps/site/src/app/(pages)/resume/page.tsx
  apps/site/src/app/favicon.ico
  apps/site/src/app/layout.tsx
  apps/site/src/components/Common/ThemeToggle.tsx
  apps/site/src/components/NavBar/index.tsx
  apps/site/src/components/withNavBar.tsx
  apps/site/src/contexts/ContentContext.tsx
  apps/site/src/contexts/ThemeContext.tsx
Due: turbo run lint --, prettier --check --write

feat(site): add title management
  apps/site/src/app/(pages)/articles/[slug]/page.tsx
  apps/site/src/app/(pages)/articles/page.tsx
  apps/site/src/app/(pages)/resume/page.tsx
  apps/site/src/components/Common/ThemeToggle.tsx
Due: turbo run lint --, prettier --check --write

feat(site): add langagues to resume page
  apps/site/src/app/(pages)/resume/page.tsx
  apps/site/src/components/Common/CircularProgressBar/index.tsx
  apps/site/src/components/Common/LinearProgressBar/index.tsx
  apps/site/src/components/Languages/index.tsx
  apps/site/src/components/TechnicalSkills/index.tsx
  apps/site/src/components/withLanguages.tsx
  apps/site/src/contexts/ContentContext.tsx
Due: turbo run lint --, prettier --check --write

feat(site): add langagues to resume page
  apps/site/src/app/(pages)/resume/page.tsx
  apps/site/src/components/Languages/index.tsx
  apps/site/src/components/withLanguages.tsx
Due: turbo run lint --, prettier --check --write

fix(site): improve responsiveness in resume page
  apps/site/src/app/(pages)/resume/page.tsx
  apps/site/src/components/TechnicalSkills/index.tsx
Due: turbo run lint --, prettier --check --write

feat(site): add google analytics
  .gitignore
  apps/site/.env.example
  apps/site/package.json
  apps/site/src/app/(pages)/resume/page.tsx
  apps/site/src/app/layout.tsx
  apps/site/src/components/CookiConsentBanner/index.tsx
  apps/site/src/components/GoogleTagManager/index.tsx
  apps/site/src/components/TechnicalSkills/index.tsx
  apps/site/src/contexts/ContentContext.tsx
  apps/site/src/lib/consent/consentManager.ts
  apps/site/src/lib/consent/useConsent.ts
  turbo.json
  yarn.lock
Due: turbo run lint --, prettier --check --write

fix(build): wrap gtag with suspense
  apps/site/src/app/layout.tsx
  apps/site/src/components/CookiConsentBanner/index.tsx
  apps/site/src/components/GoogleTagManager/index.tsx
Due: turbo run lint --, prettier --check --write

fix(site): replace gtag manager
  apps/site/package.json
  apps/site/src/app/layout.tsx
  apps/site/src/components/GoogleTagManager/index.tsx
Due: turbo run lint --, prettier --check --write

chore(repo): adjust husky lifecycle
  .husky/pre-commit
  yarn.lock
Due: none

feat(site): create button to show more skills in resume
  apps/site/src/components/Common/ThemeToggle.tsx
  apps/site/src/components/TechnicalSkills/index.tsx
Due: turbo run lint --, prettier --check --write

feat(site): improve articles presentation
  apps/site/articles/article-1.mdx
  apps/site/public/images/articles/article-1.jpg
  apps/site/public/images/articles/default-thumbnail.jpg
  apps/site/src/app/(pages)/articles/[slug]/page.tsx
  apps/site/src/app/(pages)/articles/page.tsx
  apps/site/src/assets/icons/facebook.svg
  apps/site/src/components/CopyLinkButton/index.tsx
  apps/site/src/components/ShareButton/index.tsx
  turbo.json
Due: turbo run lint --, prettier --check --write

feat(site): make download button open in another tab
  apps/site/src/components/withDownloadCVButton.tsx
  apps/site/src/utils/download.ts
Due: turbo run lint --, prettier --check --write

fix(site): apply styles to mdx articles
  apps/site/package.json
  apps/site/src/app/(pages)/articles/[slug]/page.tsx
  apps/site/src/components/CodeBlock/index.tsx
  apps/site/tailwind.config.ts
  package.json
  yarn.lock
Due: turbo run lint --, prettier --check --write

chore(ci): add tailwind to nohoist list
  package.json
Due: prettier --check --write

chore(ci): add autoprefixer as a dev dependency
  apps/site/package.json
  package.json
Due: prettier --check --write

chore(ci): add autoprefixer as a dev dependency
  apps/site/package.json
  apps/site/postcss.config.mjs
  yarn.lock
Due: turbo run lint --, prettier --check --write

Path conditions:
  turbo run lint --: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: any of: **/*.css
